.app{
    display: flex;
    margin: 0 auto;
}

.counter {
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    width: 100px;
    align-items: center;
}

.params{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    width: 200px;
    align-items: center;
}

.params p{
    margin: 0;
}

.buttonsBlock {
    display: flex;
}